CompileFlags:
  Add: 
    - -Iincludes
    - -Ilibftprintf/include
    - -Ilibftprintf/libft
    - -Wall
    - -Wextra
    - -Werror
    - -std=c99
  Remove:
    - -W*
Diagnostics:
  ClangTidy:
    Add: []
    Remove: []

